button {
  background-color: white;
  border: 6px solid black;
  border-radius: 10px;
}

.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: navy;
  color: rgb(197, 31, 31);
  border: 6px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.grid-row {
  border: 6px solid black;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: navy;
}

.block {
  background-color: rgb(219, 28, 28);
  border: 6px solid green;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20em;
}

.red {
  color: rgb(196, 42, 42);
}

.white {
  color: blue;
}

.xo {
  font-size: 55px;
}